.div__register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    width: 295.83px;
    margin: 61px 0px 30px 0px;

    img{
        width: 101px;
        height: 14px;
    }

    
    .link {
        text-decoration: none;
        color: var(--grey-0);
      }
      
    @media(min-width: 768px){
        width: 370px;
        height: 48px;

        img{
            width: 122px;
            height: 21.21px;
        }
    }


}

header{
    display: flex;
    justify-content: center;
}

