.dashboards{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 296px;

    .welcome{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 131px;
        width: 100%;
        padding-top: 24px;
        border-block: 1px solid var(--grey-1);
    }

    .info__page{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-block: 24px;
    }

   h2{
        font-family: Inter;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--grey-0);
   }

   .course{
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: var(--grey-1);
   }

   p{
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24.26px;
        color: #ffffff;
   }

    @media(min-width: 768px){
        width: 725px;
        align-items: flex-start;

        .welcome{
            height: 118px;
        }
    }
}